/**
This file contains various scss variables.
 */
$nav-width: 1920px;
$lg-card-width: 50rem;
$sm-card-width: 19.6rem;

$max-md-width-percent: 90% /*70 or 90*/;
$max-sm-width-percent: 100%;

$content-width: 1920px;

$theme-color-1: #005180;
$theme-color-2: #00a3ff;
$theme-color-3: #f9f2d7;
$theme-color-4: #0f4449;
$theme-color-5: #2dacae;
$theme-color-6: #0a2b2e;
$dark-green-1: #114a4f;
$dark-orange: #ef8a57;

$border-radius: 0.625rem;

$text-color-1: #faecda;

$heading-font-family: "Mohave", sans-serif;
$small-heading-font-family: "Leckerli One", cursive;
$roboto-font-family: "Roboto", sans-serif;
$montserrat-font-family: "Montserrat", sans-serif;

$button-text-color: #fff;
$button-color: #ff9966;
$input-color: #006666;

$word-list-scale-factor: 1.3;

$circle-size: 7.5rem;

$default-margin-top: 10.49rem;

:root {
}
